Node Red/flows.json
[
    {
        "id": "d9e1b621c7fb1d0f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8574bfbbad3e50b9",
        "type": "ui_group",
        "name": "Augu og Sena",
        "tab": "77dfcab81b7b16fb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19b92443be8734c7",
        "type": "mqtt-broker",
        "name": "emqx",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "01247ab37e62f5a4",
        "type": "ui_group",
        "name": "Sena",
        "tab": "77dfcab81b7b16fb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "55de730c8157964a",
        "type": "ui_group",
        "name": "Hreyfa Hendur",
        "tab": "77dfcab81b7b16fb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c74fac653fe9486d",
        "type": "ui_group",
        "name": "Hægri Hraði",
        "tab": "77dfcab81b7b16fb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62ef9a207ee1b842",
        "type": "ui_group",
        "name": "Hreyfa Hauskúpu",
        "tab": "77dfcab81b7b16fb",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d4ac42378326aef",
        "type": "ui_group",
        "name": "Vinstri Hraði",
        "tab": "77dfcab81b7b16fb",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "77dfcab81b7b16fb",
        "type": "ui_tab",
        "name": "Input",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "72645793c263d39a",
        "type": "mqtt-broker",
        "name": "Raspberry Pi",
        "broker": "10.201.48.103",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b59458cdb6a8494",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "42865a26b605bac1",
        "type": "ui_group",
        "name": "Hreyfa Kjálka",
        "tab": "77dfcab81b7b16fb",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70d19d86f8273208",
        "type": "ui_tab",
        "name": "API",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e587a65820c30ad4",
        "type": "ui_group",
        "name": "Takki",
        "tab": "70d19d86f8273208",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ed41227d9f6b763",
        "type": "ui_colour_picker",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "label": "Hægri Auga",
        "group": "8574bfbbad3e50b9",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "26a0f0505c49c2dd",
                "f41582aa131a5d11"
            ]
        ]
    },
    {
        "id": "23a28ded063e4ee8",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "Mqtt OUT",
        "topic": "0307StartSena",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "f41582aa131a5d11",
        "type": "debug",
        "z": "d9e1b621c7fb1d0f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "f4078d2842f68b25",
        "type": "ui_slider",
        "z": "d9e1b621c7fb1d0f",
        "name": "Hægri Hreyfa",
        "label": "Hægri Hreyfa",
        "tooltip": "",
        "group": "55de730c8157964a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "25",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "9cdfee68a0e9d109",
                "877b95bc54b237c1"
            ]
        ]
    },
    {
        "id": "ae0aa3e16cb28823",
        "type": "ui_slider",
        "z": "d9e1b621c7fb1d0f",
        "name": "Vinstri Hreyfa",
        "label": "Vinstri Hreyfa",
        "tooltip": "",
        "group": "55de730c8157964a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "70",
        "step": 1,
        "className": "",
        "x": 330,
        "y": 780,
        "wires": [
            [
                "3377fbbdef3e6fd7",
                "62b358273144185d"
            ]
        ]
    },
    {
        "id": "9cdfee68a0e9d109",
        "type": "ui_gauge",
        "z": "d9e1b621c7fb1d0f",
        "name": "Gauge",
        "group": "55de730c8157964a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hægri Hreyfa",
        "label": "units",
        "format": "{{value}}",
        "min": "25",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 560,
        "wires": []
    },
    {
        "id": "3377fbbdef3e6fd7",
        "type": "ui_gauge",
        "z": "d9e1b621c7fb1d0f",
        "name": "Gauge",
        "group": "55de730c8157964a",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vinstri Hreyfa",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 760,
        "wires": []
    },
    {
        "id": "62b358273144185d",
        "type": "json",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 560,
        "y": 800,
        "wires": [
            [
                "68c5d731448e812f",
                "0960cfc976923347"
            ]
        ]
    },
    {
        "id": "877b95bc54b237c1",
        "type": "json",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 560,
        "y": 600,
        "wires": [
            [
                "e9da4da087f43c88",
                "0960cfc976923347"
            ]
        ]
    },
    {
        "id": "e9da4da087f43c88",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "Hægri Hreyfa",
        "topic": "0307HM",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "68c5d731448e812f",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "Vinstri Hreyfa",
        "topic": "0307VM",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 750,
        "y": 800,
        "wires": []
    },
    {
        "id": "d0224f2bf8b07ffc",
        "type": "comment",
        "z": "d9e1b621c7fb1d0f",
        "name": "Topic Upplýsingar",
        "info": "Topicin byrja öll á 0307 \nog svo annað hvort\nH = Hægri\nV = Vinstri\nsvo er seinasti stafurinn annað hvort\nM = Hreyfa (Move)\nA = Augu\nK = Kjalki",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "479abfba9748bf53",
        "type": "http request",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=64.139115&lon=-21.902740&appid=5c90fcc16948008b160ac6a0fb2bd272&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 740,
        "y": 440,
        "wires": [
            [
                "0d034c85205ce8c7",
                "542dc3cd2658a99a"
            ]
        ]
    },
    {
        "id": "0d034c85205ce8c7",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "topic": "0307API",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "27468f58b84af189",
        "type": "interval-switch",
        "z": "d9e1b621c7fb1d0f",
        "name": "API interval",
        "duration": "20",
        "payload": "true",
        "payloadType": "bool",
        "counterPath": "payload",
        "immediate": true,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "479abfba9748bf53"
            ]
        ]
    },
    {
        "id": "542dc3cd2658a99a",
        "type": "debug",
        "z": "d9e1b621c7fb1d0f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "0960cfc976923347",
        "type": "debug",
        "z": "d9e1b621c7fb1d0f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "ad86b9c4bd018beb",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "topic": "0307HA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "26a0f0505c49c2dd",
        "type": "json",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "ad86b9c4bd018beb",
                "f41582aa131a5d11"
            ]
        ]
    },
    {
        "id": "bbc9b24c2f14d405",
        "type": "ui_slider",
        "z": "d9e1b621c7fb1d0f",
        "name": "Kjalki Hreyfa",
        "label": "Kjalki Hreyfa",
        "tooltip": "",
        "group": "42865a26b605bac1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "55",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "01463cd2dbba5dba",
                "a9de46f3f5c78b58"
            ]
        ]
    },
    {
        "id": "01463cd2dbba5dba",
        "type": "ui_gauge",
        "z": "d9e1b621c7fb1d0f",
        "name": "Gauge",
        "group": "42865a26b605bac1",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kjalki Hreyfa",
        "label": "units",
        "format": "{{value}}",
        "min": "55",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 660,
        "wires": []
    },
    {
        "id": "a9de46f3f5c78b58",
        "type": "json",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 560,
        "y": 700,
        "wires": [
            [
                "cfb45e4be8da0a7b",
                "0960cfc976923347"
            ]
        ]
    },
    {
        "id": "cfb45e4be8da0a7b",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "Kjalki Hreyfa",
        "topic": "0307KM",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 740,
        "y": 700,
        "wires": []
    },
    {
        "id": "e15e8bc8d19b6f3b",
        "type": "ui_button",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "group": "8574bfbbad3e50b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Starta Senu",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "7f277db2cd52bfe8"
            ]
        ]
    },
    {
        "id": "7f277db2cd52bfe8",
        "type": "http request",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=64.139115&lon=-21.902740&appid=5c90fcc16948008b160ac6a0fb2bd272&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "404eb4b2ef8ed5ee",
                "1a61c12eb0b11da7"
            ]
        ]
    },
    {
        "id": "404eb4b2ef8ed5ee",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "topic": "0307API",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "1a61c12eb0b11da7",
        "type": "delay",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "23a28ded063e4ee8"
            ]
        ]
    },
    {
        "id": "042cef26559b3ed2",
        "type": "ui_switch",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "e587a65820c30ad4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "27468f58b84af189"
            ]
        ]
    },
    {
        "id": "040f6f53822e1cf9",
        "type": "ui_slider",
        "z": "d9e1b621c7fb1d0f",
        "name": "Háls Hreyfa",
        "label": "Háls Hreyfa",
        "tooltip": "",
        "group": "62ef9a207ee1b842",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 320,
        "y": 880,
        "wires": [
            [
                "d70f4d0856eafb96",
                "412c3a941626c7d2"
            ]
        ]
    },
    {
        "id": "d70f4d0856eafb96",
        "type": "ui_gauge",
        "z": "d9e1b621c7fb1d0f",
        "name": "Gauge",
        "group": "62ef9a207ee1b842",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Háls Hreyfa",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 860,
        "wires": []
    },
    {
        "id": "412c3a941626c7d2",
        "type": "json",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 900,
        "wires": [
            [
                "4a9a50e003df824f"
            ]
        ]
    },
    {
        "id": "4a9a50e003df824f",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "Háls Hreyfa",
        "topic": "0307SM",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 740,
        "y": 900,
        "wires": []
    },
    {
        "id": "6531c50faf1480af",
        "type": "ui_slider",
        "z": "d9e1b621c7fb1d0f",
        "name": "Haus Hreyfa",
        "label": "Haus Hreyfa",
        "tooltip": "",
        "group": "62ef9a207ee1b842",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 320,
        "y": 980,
        "wires": [
            [
                "a2ff5018de1c6eb3",
                "cc28ea38d4fa5bf5"
            ]
        ]
    },
    {
        "id": "a2ff5018de1c6eb3",
        "type": "ui_gauge",
        "z": "d9e1b621c7fb1d0f",
        "name": "Gauge",
        "group": "62ef9a207ee1b842",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Haus Hreyfa",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 960,
        "wires": []
    },
    {
        "id": "cc28ea38d4fa5bf5",
        "type": "json",
        "z": "d9e1b621c7fb1d0f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "5b624af0eb0ab8a4"
            ]
        ]
    },
    {
        "id": "5b624af0eb0ab8a4",
        "type": "mqtt out",
        "z": "d9e1b621c7fb1d0f",
        "name": "Haus Hreyfa",
        "topic": "0307UM",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72645793c263d39a",
        "x": 740,
        "y": 1000,
        "wires": []
    }
]
